---
---
@import "minima";

body {
    background-color: #f9f9f9;
    color: #111111;
}

.wrapper {
    max-width: 900px;
    padding-left: 30px;
    padding-right: 30px;
}

.MathJax_Display, .katex-display {
    overflow-x: auto;
    overflow-y: hidden;
}

.post-title {
    font-weight: bold;
}

.post-list {
    margin-left: 0;
    margin-top: 80px;
}

.post-list li {
    list-style-type: none;
    margin-bottom: 30px;
}

.post-link {
    color: #111111 !important;
    font-weight: bold !important;
    font-size: 24px !important;
    text-decoration: none !important;
}